.w3-titolo{position:absolute;left:41.5%;top:20%}
.w3-aveda{position:absolute;top:38%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-prodotto1{position:absolute;top:90%;left:12%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-prodotto2{position:absolute;top:120%;left:88%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-prodotto3{position:absolute;top:160%;left:12%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-prodotto4{position:absolute;top:200%;left:88%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-prodotto5{position:absolute;top:240%;left:12%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-prodotto6{position:absolute;top:280%;left:88%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-prodotto7{position:absolute;top:310%;left:12%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-scritta1{position:absolute;left:25%;top:60%}
.w3-display-scritta1a{position:absolute;left:25%;top:68%}
.w3-display-scritta1b{position:absolute;left:25%;top:72%}
.w3-display-scritta1c{position:absolute;left:25%;top:76%}
.w3-display-scritta1d{position:absolute;left:25%;top:80%}
.w3-display-scritta2{position:absolute;left:54%;top:100%}
.w3-display-scritta2a{position:absolute;left:10%;top:106%}
.w3-display-scritta2b{position:absolute;left:62%;top:109%}
.w3-display-scritta2ba{position:absolute;left:62.5%;top:112%}
.w3-display-scritta3{position:absolute;left:25%;top:140%}
.w3-display-scritta3a{position:absolute;left:25%;top:146%}
.w3-display-scritta3b{position:absolute;left:25%;top:150%}
.w3-display-scritta3c{position:absolute;left:25%;top:154%}
.w3-display-scritta4{position:absolute;left:56%;top:180%}
.w3-display-scritta4a{position:absolute;left:62%;top:186%}
.w3-display-scritta4b{position:absolute;left:62%;top:190%}
.w3-display-scritta5{position:absolute;left:25%;top:220%}
.w3-display-scritta5a{position:absolute;left:25%;top:226%}
.w3-display-scritta5b{position:absolute;left:25%;top:230%}
.w3-display-scritta5c{position:absolute;left:25%;top:234%}
.w3-display-scritta6{position:absolute;left:52%;top:260%}
.w3-display-scritta6a{position:absolute;left:58%;top:266%}
.w3-display-scritta6b{position:absolute;left:62%;top:270%}
.w3-display-scritta6c{position:absolute;left:62%;top:274%}
.w3-display-scritta6d{position:absolute;left:62%;top:278%}
.w3-display-scritta6e{position:absolute;left:62%;top:282%}
.w3-display-scritta6f{position:absolute;left:62%;top:286%}
.w3-display-scritta7{position:absolute;left:25%;top:300%}
.w3-display-scritta7a{position:absolute;left:25%;top:306%}
.w3-display-scritta7b{position:absolute;left:25%;top:310%}
.w3-display-scritta7c{position:absolute;left:25%;top:314%}
#be_curly { position: absolute; top: 400px; left: 0px;
  width: 100%; }